services:
  voflix:
    # image: ${VOFLIX_IMAGE}
    # image: suspiciousleaf/vo_movies:voflix_v2
    # Update container name when deloying as the main stance
    container_name: voflix_v2
    build: .
    #Uncomment this when deploying as main instance
    # depends_on:
    #   - db
    env_file:
      - .env
    restart: unless-stopped
    # Update ports when deploying as the main instance
    ports:
      - "127.0.0.1:7980:7980"
    entrypoint: ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "7980"]
    networks:
      - vo_movies_default
# Remove this when deploying as the main instance
networks:
  vo_movies_default:
    external: true

#Uncomment this when deploying as main instance
#   db:
#     image: mysql:8.4
#     container_name: mysql
#     env_file:
#       - .env
#     environment:
#       MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
#       MYSQL_DATABASE: ${DB_NAME}
#       MYSQL_USER: ${DB_USER}
#       MYSQL_PASSWORD: ${DB_PASSWORD}
#     volumes:
#       - db_data:/var/lib/mysql
#     restart: unless-stopped
#     ports:
#       - "127.0.0.1:3306:3306"

# volumes:
#   db_data:
