services:
  resto:
    # image: suspiciousleaf/assessment-resto:resto
    container_name: voflix_v2
    build: .
    restart: unless-stopped
    ports:
      - "127.0.0.1:7990:7990"
    entrypoint: ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "7990"]
